body{
font-family: Arial;
background: linear-gradient(135deg,#74ebd5,#ACB6E5);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.container{
text-align:center;
}

.card{
margin-top:20px;
padding:20px;
width:300px;
border-radius:15px;
background:rgba(255,255,255,0.3);
backdrop-filter: blur(10px);
box-shadow:0 8px 20px rgba(0,0,0,0.2);
}

input{
padding:10px;
border-radius:8px;
border:none;
}

button{
padding:10px 15px;
border:none;
border-radius:8px;
background:#333;
color:white;
cursor:pointer;
}